# =========================
# ENV / SECRETS
# =========================
conf.txt
.env

# =========================
# NODE MODULES
# =========================
node_modules/

# =========================
# SUPABASE LOCAL CACHE
# =========================
supabase/.branches/
supabase/.temp/

# =========================
# VS CODE
# =========================
.vscode/
